div {{guide.name}}

form(action="/purchase", method="post")
  script(src="https://checkout.stripe.com/v3/checkout.js",
  class="stripe-button",
  data-key="pk_LzkJmgBXMs1mjt0WBrlEzrowncsB9",
  data-amount='995',
  data-purchased_guides='Some Guides',
  data-name="30 WORDS")
  input(type="hidden", name="amount", value='995')
  input(type="hidden", name="purchased_guides", value='Some Guides')
