div.main
  div.well

    {{ cart }}

    a(href="default.htm#/cart", title="go to shopping cart", ng-disabled="cart.getTotalCount() < 1")
      i.icon-shopping-cart
        p {{cart.getTotalCount()}} items, {{cart.getTotalPrice() | currency}}

  select.language-select(ng-model="searchparam")
    option(value="", selected) Choose Language
    option(ng-repeat="guide in guides", value="{{guide.language}}") {{guide.language}}

  div(ng-repeat="product in store.products | orderBy:'name' | filter:search")
    {{ product.name }}
    div(ng-click="cart.addItem('{{product.sku}}', '{{product.name}}', {{product.price}}, 1)")
      | add to cart

  div.all-guides
    a.guide-box(href='store/{{guide.language}}', ng-repeat='guide in guides | filter: searchparam')
      div.cover-box
        img.guide-cover(ng-src='{{guide.image}}')
        addtocart

      div.guide-text
        p.guide-title {{guide.language}}
        div.guide-description {{guide.description}}

    form(action="/purchase", method="post")
      script(src="https://checkout.stripe.com/v3/checkout.js",
      class="stripe-button",
      data-key="pk_LzkJmgBXMs1mjt0WBrlEzrowncsB9",
      data-amount='995',
      data-purchased_guides='Some Guides',
      data-name="30 WORDS")
      input(type="hidden", name="amount", value='995')
      input(type="hidden", name="purchased_guides", value='Some Guides')
