extends layout

block body

  div.main(ng-controller="StoreCtrl")
    span Choose a language
    select(ng-model="searchparam")
      option(ng-repeat="guide in guides", value="{{guide.language}}") {{guide.language}}


    div We charge $2 for shipping.  Unless you are a student.
    | In that case, please add 'student' to your 'coupon' section
    | of our purchse form, and we'll ship your guide to you free.

    div.guide-box(ng-repeat='guide in guides | filter: searchparam')
      p {{guide.language}}
      p {{guide.description}}
      p ${{guide.price}}
      a
       img.guide-cover(ng-src='{{guide.image}}', ng-cloak)
      addToCart

    h1 30 WORDS : Store
      form(action="/purchase", method="post")
        script(src="https://checkout.stripe.com/v3/checkout.js",
        class="stripe-button",
        data-key="pk_LzkJmgBXMs1mjt0WBrlEzrowncsB9",
        data-amount='995',
        data-purchased_guides='Some Guides',
        data-name="30 WORDS")
        input(type="hidden", name="amount", value='995')
        input(type="hidden", name="purchased_guides", value='Some Guides')

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')